doctype html
html
	head
		title= 'BTA - Sign in'
		link(rel='stylesheet', href='/stylesheets/auth.css')
		script(type='text/javascript', src='https://code.jquery.com/jquery-1.9.1.js')
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		script(type='text/javascript', src='/js/bootstrap.min.js')
	body
		.fullscreen-bg
			video.fullscreen-bg__video(loop, muted, autoplay)
				source(src="https://17315-presscdn-0-68-pagely.netdna-ssl.com/wp-content/uploads/2016/08/listify-rental-video-bg-compressed.mp4", type="video/mp4")
		.overlay.fullscreen-bg-overlay
		.container
		.info
			h1 MYAPP
		.form
			block content
