doctype html
html
	head
		title= 'AirTravel'
		link(rel='stylesheet', href='/stylesheets/auth.css')
		script(type='text/javascript', src='https://code.jquery.com/jquery-1.9.1.js')
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		script(type='text/javascript', src='/js/bootstrap.min.js')
	body
		
		block content
